<%= form_with(model: [@post, @comment], local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :content, 'コメント' %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
    </div>
      <%= f.submit 'コメントをする', class: "btn btn-primary" %>
  <% end %>