<%= form_with(model: @picture, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <%= f.label :image1, '詳細画像' %>
    <%= f.file_field :image1, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <%= hidden_field_tag :id, @id %>

  <%= f.submit '画像をアップロードする', class: 'btn btn-primary btn-block w-50' %>
<% end %>