<aside class="col-sm-4">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_area :title, class: 'form-control', rows: 2 %>
    </div>
    
    <div class="form-group">
      <%= f.label :detail, '釣行レポート' %>
      <%= f.text_area :detail, class: 'form-control', rows: 5 %>
    </div>
    
    <div class="form-group">
      <%= f.label :address, '釣行場所' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :weather, '天気' %>
      <%= f.select :weather,["晴れ", "曇り", "雨" ], {},   class: 'form-control' %>
    </div>
    
    <div class="form-group">    
      <%= f.label :temperature, '気温' %>
      <%= f.select :temperature,["0~5℃", "6~10℃", "11~15℃", "16~20℃", "21~25℃", "26~30℃", "31~35℃" ], {},   class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :time_zone, '時間帯' %>
      <%= f.select :time_zone,["朝", "昼", "夕方", "夜" ], {},   class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :how_to_fish, '釣り方' %>
      <%= f.text_field :how_to_fish, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :fish_caught, '釣れた魚' %>
      <%= f.text_field :fish_caught, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :picture, 'タイトル画像' %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'  %>
    </div>
    
    <%= f.label :category, 'カテゴリ' %>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, include_hidden: false) do |category| %>
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
    <%= f.submit '釣果を投稿する', class: 'btn btn-primary btn-block' %>
  <% end %>
        
  <script type="text/javascript">
    $('#post_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('ファイルの最大サイズは5MBです。ファイルサイズを変更してください。');
      }
    });
  </script>
</aside>
