<%= render 'bookmarks/contents' %>
<%= render 'posts/contents' %>
<%= render 'comments/contents' %>

<div class="text-right">
  <% if current_user?(@post.user) %>
    <div class="form-group">
      <%= link_to '画像追加', new_picture_detail_path(id: @post.id), class: 'btn btn-success' %>
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-success' %>
    </div>
    <div class="form-group text-right">
      <%= link_to "削除",@post, method: :delete, data: { confirm: "本当に削除してよろしいでしょうか?" }, class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>
</div>